.table-container {
    overflow-x: hidden;
    font-size: 12pt;
    background-attachment: fixed;
    background-image: url(../../assets/images/client_background.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh
}

.button-style {
    border: solid 3px #000;
    background: linear-gradient(to right, #000 50%, rgba(0, 0, 0, 0) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    color: #000;
    font-weight: 600;
    width: 150px;
    height: 50px;
    transition: all 0.5s ease;
}

.button-style:hover {
    background-position: left bottom;
    color: #fff;
    cursor: pointer;
}

/* Main menu */
#logo {
    height: 64px;
    cursor: pointer;
    transition: transform .2s;
}

#logo:hover {
    transform: scale(1.1);
}

#menu-logo {
    float: left;
    margin: 0px;
    padding: 10px 0px;
}

#menu-add {
    float: right;
    margin: 0px;
    padding: 0px 10px;
}

#menu-add a {
    text-decoration: none;
    font-family: Century Gothic;
    color: #000;
}

#menu-add i {
    font-size: 25pt;
    transition: transform .2s;
    cursor: pointer;
}

#menu-add i:hover {
    transform: scale(1.5);
}

#menu-add ul li {
    float: left;
    list-style: none;
    margin: 10px 10px;
}


/* Table */
.table-wrapper {
    background-color: #fff;
}

table {
    background-color: rgba(255, 255, 255, 0);
}

table i {
    transition: transform .2s;
    cursor: pointer;
}

table i:hover {
    transform: scale(1.5);
}

.actions a {
    color: #000;
}

.actions .edit {
    margin-right: 20px;
}


/* Modal */
.modal-div {
    position: absolute;
    float: left;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
}

.modal-div .button-style {
    margin: 10px;
}

.modal-form {
    background-color: #fff;
    padding: 40px;
}

.hide {
    display: none;
}

@media only screen and (max-width: 800px) {
    .modal-form {
        background-color: #fff;
        padding: 10px;
    }
}