<div class="table-container">
    <!-- Menu -->
    <div class="container" id="menu">
        <div id="menu-logo">
            <img src="../../assets/images/logo_black.png" routerLink="/home" alt="Business" id="logo">
        </div>

        <div id="menu-add">
            <ul>
                <li><i (click)="handleModal('addModal')" class="material-icons">add</i></li>
            </ul>
        </div>
    </div>

    <!-- Modals -->
    <div class="modal-div hide valign-wrapper" id="modal-div">
        <!-- Add -->
        <div *ngIf="addModal" class="modal-form container">
            <h4 class="center-align">Add a new user</h4>
            <form #addDataForm="ngForm" class="center" (ngSubmit)="addData(addDataForm)" autocomplete="off">
                <div class="row">
                    <div class="input-field col s12 m6 l6 xl6">
                        <input id="name" type="text" class="validate" maxlength="40" ngModel name="name">
                        <label for="name">Name</label>
                    </div>
                    <div class="input-field col s12 m6 l6 xl6">
                        <input id="code" type="number" class="validate" maxlength="40" ngModel name="code">
                        <label for="code">Code</label>
                    </div>
                </div>
                <div class="row"> 
                    <div class="input-field col s12 m6 l6 xl6">
                        <input id="duration" type="number" class="validate" maxlength="40" ngModel name="duration">
                        <label for="duration">Duration</label>
                    </div>
                    <div class="input-field col s12 m6 l6 xl6">
                        <input id="numOfAcc" type="number" class="validate" maxlength="40" ngModel name="numOfAcc">
                        <label for="numOfAcc">Number Of Accounts</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="date" type="date" class="validate datepicker" ngModel name="date">
                        <label for="date" class="active">Date</label>
                    </div>
                </div>
                <button class="button-style" type="submit">Submit</button>
                <button class="button-style" type="reset" (click)="handleModal()">Close</button>
            </form>
        </div>

        <!-- Delete -->
        <div *ngIf="deleteModal" class="modal-form container center">
            <h4>Are you sure you want to delete "{{selectedName}}"?</h4>
            <button class="button-style" (click)="deleteData(true)">Yes</button>
            <button class="button-style" (click)="deleteData(false)">No</button>
        </div>

        <!-- Edit -->
        <div *ngIf="editModal" class="modal-form container">
            <h4 class="center-align">Edit user</h4>
            <form #editDataForm="ngForm" (ngSubmit)="editData(editDataForm)" class="center" autocomplete="off">
                <div class="row">
                    <div class="input-field col s12 m6 l6 xl6">
                        <input id="name" type="text" class="validate" maxlength="40" [ngModel]="data[selectedObjectIndex].name" name="name">
                        <label for="name" class="active">Name</label>
                    </div>
                    <div class="input-field col s12 m6 l6 xl6">
                        <input id="code" type="number" class="validate" maxlength="40" [ngModel]="data[selectedObjectIndex].code" name="code">
                        <label for="code" class="active">Code</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m6 l6 xl6">
                        <input id="duration" type="number" class="validate" maxlength="40" [ngModel]="data[selectedObjectIndex].duration" name="duration">
                        <label for="duration" class="active">Duration</label>
                    </div>
                    <div class="input-field col s12 m6 l6 xl6">
                        <input id="numOfAcc" type="number" class="validate" maxlength="40" [ngModel]="data[selectedObjectIndex].numOfAcc" name="numOfAcc">
                        <label for="numOfAcc" class="active">Number Of Accounts</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="date" type="date" class="validate datepicker" [ngModel]="data[selectedObjectIndex].date" name="date">
                        <label for="date" class="active">Date</label>
                    </div>
                </div>
                <button class="button-style" type="submit">Submit</button>
                <button class="button-style" type="button" (click)="closeModal()">Close</button>
            </form>
        </div>
    </div>

    <!-- Table -->
    <div class="container">
        <div class="row">
            <div class="col s12 table-wrapper z-depth-3">
                <table class="responsive-table striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Code</th>
                            <th>Duration</th>
                            <th>Number of accounts</th>
                            <th>Date of creation</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tbody *ngIf="data.length > 0">
                        <tr *ngFor="let obj of data; let i = index">
                            <td>{{obj.name}}</td>
                            <td>{{obj.code}}</td>
                            <td>{{obj.duration}}</td>
                            <td>{{obj.numOfAcc}}</td>
                            <td>{{obj.date}}</td>
                            <td class="actions">
                                <i class="material-icons edit" (click)="handleModal('editModal', i, obj)">edit</i>
                                <i class="material-icons" (click)="handleModal('deleteModal', i, obj)">delete</i>
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="data.length == 0">
                        <td colspan="6"><p class="center-align"><b>THE TABLE IS EMPTY.</b><br/>Add some data by clicking on the '<b>+</b>' sign in the top right.</p></td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>