.button-style {
    border: solid 3px #000;
    background: linear-gradient(to right, #000 50%, rgba(0, 0, 0, 0) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    color: #000;
    font-weight: 600;
    width: 150px;
    height: 50px;
    transition: all 0.5s ease;
}

.button-style:hover {
    background-position: left bottom;
    color: #fff;
    cursor: pointer;
}

.button-white-style {
    border: solid 3px #fff;
    background: linear-gradient(to right, #fff 50%, rgba(0, 0, 0, 0) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    color: #fff;
    font-weight: 600;
    width: 150px;
    height: 50px;
    transition: all 0.5s ease;
}

.button-white-style:hover {
    background-position: left bottom;
    color: #000;
    cursor: pointer;
}


/* Main menu */
#fixed-menu-wrapper{
    position: fixed;
    width: 100%;
    z-index: 999;
    transition: all .7s ease;
}
.scroll {
    background-color: #fff;
}

#logo {
    height: 64px;
}

#menu-logo {
    float: left;
    margin: 0px;
    padding: 10px 0px 4px;
}

#menu-links {
    float: right;
    margin: 0px;
    padding: 0px 10px;
}

#menu-links a {
    text-decoration: none;
    font-family: Century Gothic;
    font-size: 13pt;
    font-weight: 600;
    color: #000;
}

#menu-links ul li {
    float: left;
    list-style: none;
    margin: 10px 10px;
}

#menu-links ul li:hover {
    border-bottom: solid 3px #000;
}

#menu a, #menu-mobile a {
    cursor: pointer;
}

/* Main menu mobile*/

#menu-mobile {
    display: none;
}

#menu-mobile #logo {
    height: 48px;
}

#menu-mobile-logo {
    float: left;
    margin: 0px;
    padding: 15px 20px;
}

#menu-mobile-icon {
    float: right;
    margin-top: 28px;
    margin-right: 20px;
}

#menu-mobile-icon a {
    color: #000;
}

#menu-mobile-links {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 1000;
}

#menu-mobile-links ul li {
    margin: 30px 0px;
}

#menu-mobile-links ul .mobile-menu-link a:hover {
    border-bottom: solid 3px #fff;
}

#menu-mobile-links a {
    color: #fff;
    font-size: 25pt;
}

#menu-mobile-links ul li#close-button {
    margin: 20px 0px;
}

.hide {
    display: none !important;
}

@media only screen and (max-width: 800px) {
    #menu-mobile {
        display: block;
    }
    #menu {
        display: none;
    }
}


/* Content */

#hero-section {
    background-image: url('../../assets/images/hero_background2.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding-top: 30vh;
    text-align: center;
}

#hero-section-content {
    margin: auto;
    display: inline-block;
}

#hero-section .button-style {
    margin: 10px;
}

#arrow-down {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    z-index: 1;
    color: #fff;
    -webkit-animation: bounce 2s infinite;
    -moz-animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%,
    100% {
        bottom: 30px;
    }
    50% {
        bottom: 15px;
    }
}

#arrow-down i {
    border: solid 2px #fff;
    border-radius: 50px;
    padding: 10px;
    font-size: 20pt;
}

#info-section {
    padding: 40px 0px;
}

#info-section i {
    font-size: 20pt;
    margin-bottom: -10px;
}

#info-section span {
    font-size: 16pt;
    margin-left: 10px;
    padding-top: 8px;
}

#team-photo {
    width: 100%;
    margin: 50px 0px 30px 0px;
}

#about {
    background-attachment: fixed;
    background-image: url(../../assets/images/background3.jpg);
    background-size: cover;
    padding: 40px 0px;
}

#about i {
    font-size: 45pt;
    margin-bottom: -10px;
}

.separator {
    width: 10%;
    height: 1px;
    border-bottom: solid 2px #000;
}

.separator2 {
    width: 40%;
    height: 1px;
    border-bottom: solid 2px #000;
    margin: 50px 0px;
}

.quote {
    font-style: italic;
}

#services-section {
    padding: 20px 0px;
}

#services-section i,
#team-section i {
    font-size: 45pt;
    margin-bottom: -10px;
}

#cta {
    background-color: #000;
    color: #fff;
    margin-bottom: -20px;
    padding: 20px 0px 1px 0px;
}

#cta .button-white-style {
    margin: 20px 0px;
}

#numbers-section {
    background-attachment: fixed;
    background-image: url(../../assets/images/background.jpg);
    background-size: cover;
    background-position: center;
    /* background-color: #e3e6eb; */
    padding: 40px 0px 20px 0px;
}

#numbers-section i {
    font-size: 45pt;
    margin-bottom: -10px;
    display: inline-block;
    color: #fff;
}

#numbers-section .numbers-digit {
    font-size: 30pt;
    margin: -10px 0px;
    color: #fff;
    display: inline-block;
}

#numbers-section .numbers-title {
    font-size: 18pt;
    display: inline-block;
    color: #fff;
}

.numbers-parent {
    text-align: center;
    margin-top: 15px;
}

#team-section {
    padding-top: 40px;
}

#team-section h4 {
    margin-bottom: 40px;
}

.member-card img {
    width: 100%;
    transition: transform .2s;
    cursor: pointer;
}

.member-card img:hover {
    transform: scale(1.05);
}

.member-name {
    font-size: 20pt;
    margin: -5px 0px;
}

.member-title {
    font-style: italic;
    margin-bottom: 40px;
}

footer {
    background-color: #000;
    padding: 40px 0px;
    margin-bottom: -10px;
}

.social a {
    color: #fff;
    font-size: 20pt;
    margin: 0px 15px;
}

.social i {
    cursor: pointer;
    transition: transform .2s;
}

.social i:hover {
    transform: scale(1.5);
}

footer .copyright {
    color: #fff;
}

.center {
    align-items: center;
}

#contact-info p {
    font-size: 16pt;
}

#contact-info i {
    margin-right: 10px;
    font-size: 20pt;
}

#contact-form button {
    margin: 10px;
}