<!-- Menu -->
<div id="fixed-menu-wrapper">
<div class="container" id="menu">
    <div id="menu-logo">
        <img src="../../assets/images/logo_black.png" alt="Business" id="logo">
    </div>

    <div id="menu-links">
        <ul>
            <li><a (click)="scrollToElement(home)">Home</a></li>
            <li><a (click)="scrollToElement(about)">About</a></li>
            <li><a (click)="scrollToElement(services)">Services</a></li>
            <li><a (click)="scrollToElement(team)">Team</a></li>
            <li><a (click)="scrollToElement(contact)">Contact</a></li>
            <li><a routerLink="/table">Client</a></li>
        </ul>
    </div>
</div>
</div>

<!-- Mobile menu -->
<div class="container-fluid" id="menu-mobile">
    <div id="menu-mobile-logo">
        <img src="../../assets/images/logo_black.png" alt="Business" id="logo">
    </div>

    <div id="menu-mobile-icon">
        <a (click)="toggleMenu()"><i class="material-icons">menu</i></a>
    </div>

    <div id="menu-mobile-links" class="hide">
        <div class="center">
            <ul>
                <li id="close-button"><a (click)="toggleMenu()"><i class="material-icons">close</i></a></li>
                <li class="mobile-menu-link"><a (click)="scrollToElement(home)">Home</a></li>
                <li class="mobile-menu-link"><a (click)="scrollToElement(about)">About</a></li>
                <li class="mobile-menu-link"><a (click)="scrollToElement(services)">Services</a></li>
                <li class="mobile-menu-link"><a (click)="scrollToElement(team)">Team</a></li>
                <li class="mobile-menu-link"><a (click)="scrollToElement(contact)">Contact</a></li>
                <li class="mobile-menu-link"><a routerLink="/table">Client</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- Hero section -->
<div id="hero-section" #home>
    <div id="hero-section-content">
        <div class="center">
            <h3>We are Company!</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas libero lectus, nec consectetur lorem sollicitudin eu.<br/> Curabitur faucibus diam id augue lacinia venenatis. Nam sollicitudin nunc eu pretium lacinia.</p>
            <a (click)="scrollToElement(about)"><button class="button-style">Learn more</button></a>
            <a routerLink="/table"><button class="button-style">Client</button></a>
        </div>
    </div>
    <div id="arrow-down"><i class="material-icons">arrow_downward</i></div>
</div>

<!-- Info section -->
<div class="container" id="info-section">
    <div class="row">
        <div class="col s12 m6 l6 xl3 valign-wrapper"><i class="material-icons">attach_money</i><span>Low rates.</span></div>
        <div class="col s12 m6 l6 xl3 valign-wrapper"><i class="material-icons">access_time</i><span>24/7 support.</span></div>
        <div class="col s12 m6 l6 xl3 valign-wrapper"><i class="material-icons">laptop</i><span>Latest tech.</span></div>
        <div class="col s12 m6 l6 xl3 valign-wrapper"><i class="material-icons">lock</i><span>Safety first.</span></div>
    </div>
</div>

<!-- About section -->
<div id="about" #about>
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l10 xl6">
                <i class="material-icons">domain</i>
                <h3>About us</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <div class="separator"></div>
                <p>Donec id elit non mi porta gravida at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Praesent
                    commodo cursus magna, vel scelerisque.</p>

                <a (click)="scrollToElement(about)"><button class="button-style">Learn more</button></a>
            </div>
        </div>
    </div>
</div>

<!-- Services section -->
<div class="container" id="services-section" #services>
    <div class="row">
        <div class="col s12 m12 l4">
            <h4>Services we provide</h4>
        </div>
        <div class="col s12 m12 l8">
            <p class="quote">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo."</p>
        </div>
        <div class="col s12 m12 l12 xl12">
            <div class="center">
                <div class="separator2"></div>
            </div>
        </div>

        <div class="col s12 m12 l4 xl4">
            <i class="material-icons">pie_chart</i>
            <h4>Business Plan</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas libero lectus, nec consectetur lorem sollicitudin eu. Curabitur faucibus diam id augue lacinia venenatis. Nam sollicitudin nunc eu pretium lacinia.</p>
        </div>
        <div class="col s12 m12 l4 xl4">
            <i class="material-icons">thumb_up</i>
            <h4>Marketing Plan</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas libero lectus, nec consectetur lorem sollicitudin eu. Curabitur faucibus diam id augue lacinia venenatis. Nam sollicitudin nunc eu pretium lacinia.</p>
        </div>
        <div class="col s12 m12 l4 xl4">
            <i class="material-icons">show_chart</i>
            <h4>Realisation</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas libero lectus, nec consectetur lorem sollicitudin eu. Curabitur faucibus diam id augue lacinia venenatis. Nam sollicitudin nunc eu pretium lacinia.</p>
        </div>
    </div>
</div>

<!-- CTA -->
<div id="cta">
    <div class="container">
        <div class="row ">
            <div class="col s12 m12 l8 xl8">
                <h4 class="center-align">At vero eos et accusamus et iusto odio dignissimos</h4>
            </div>
            <div class="col s12 m12 l4 xl4">
                <div class="center"><a (click)="scrollToElement(about)"><button class="button-white-style">Learn more</button></a></div>
            </div>
        </div>
    </div>
</div>

<!-- Team section -->
<div class="container" id="team-section" #team>
    <div class="row">
        <div class="col s12 m12 l4">
            <h4>Our team</h4>
        </div>
        <div class="col s12 m12 l8">
            <p class="quote">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo."</p>
        </div>
        <div class="col s12 m12 l12 xl12">
            <div class="center">
                <div class="separator2"></div>
            </div>
        </div>
        <div class="col s12 m6 l6 xl3">
            <div class="member-card">
                <img src="../../assets/images/team_member_1.jpg">
                <p class="member-name">John Snow</p>
                <p class="member-title">Executive director</p>
            </div>
        </div>
        <div class="col s12 m6 l6 xl3">
            <div class="member-card">
                <img src="../../assets/images/team_member_2.jpg">
                <p class="member-name">Arya Stark</p>
                <p class="member-title">Executive director</p>
            </div>
        </div>
        <div class="col s12 m6 l6 xl3">
            <div class="member-card">
                <img src="../../assets/images/team_member_3.jpg">
                <p class="member-name">Jorah Mormont</p>
                <p class="member-title">Executive director</p>
            </div>
        </div>
        <div class="col s12 m6 l6 xl3">
            <div class="member-card">
                <img src="../../assets/images/team_member_4.jpg">
                <p class="member-name">Sansa Stark</p>
                <p class="member-title">Executive director</p>
            </div>
        </div>
    </div>
</div>

<!-- Numbers section -->
<div id="numbers-section">
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l4 numbers-parent">
                <i class="material-icons">group</i><br/>
                <p class="numbers-digit">- 147 -</p><br/>
                <p class="numbers-title">Employees</p>
            </div>
            <div class="col s12 m12 l4 numbers-parent">
                <i class="material-icons">archive</i><br/>
                <p class="numbers-digit">- 392 -</p><br/>
                <p class="numbers-title">Projects completed</p>
            </div>
            <div class="col s12 m12 l4 numbers-parent">
                <i class="material-icons">home</i><br/>
                <p class="numbers-digit">- 14 -</p><br/>
                <p class="numbers-title">Offices</p>
            </div>
        </div>
    </div>
</div>

<!-- Contact section -->
<div class="container" #contact>
    <div class="row">
        <div class="col s12 m12 l6 xl6" id="contact-info">
            <h4>Contact info</h4><br>
            <p class="valign-wrapper"><i class="material-icons">location_on</i><span class="contact-info-text">Some address 23, 18000 Ni&scaron;, Serbia</span></p>
            <p class="valign-wrapper"><i class="material-icons">phone_android</i><span class="contact-info-text">063/123-45-67</span></p>
            <p class="valign-wrapper"><i class="material-icons">phone</i><span class="contact-info-text">018/987-654</span></p>
            <p class="valign-wrapper"><i class="material-icons">phone</i><span class="contact-info-text">018/263-034</span></p>
            <p class="valign-wrapper"><i class="material-icons">email</i><span class="contact-info-text">info@company.com</span></p>
            <p class="valign-wrapper"><i class="material-icons">language</i><span class="contact-info-text">www.company.com</span></p>
        </div>
        <div class="col s12 m12 l6 xl6">
            <h4>Send us a message</h4>
            <form id="contact-form">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="name" type="text" class="validate" >
                        <label for="name">Your name</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate">
                        <label for="email">Your email</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="phone" type="number" class="validate">
                        <label for="phone">Your phone number</label>
                    </div>
                    <div class="input-field col s12">
                        <textarea id="message" cols="30" rows="5" class="materialize-textarea"></textarea>
                        <label for="message">Your message</label>
                    </div>
                    <button class="button-style" type="submit">Submit</button>
                    <button class="button-style" type="reset">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Map embed-->
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d11611.22059448623!2d21.897225903738917!3d43.318338234508275!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2srs!4v1543857599543" width="100%" height="300" frameborder="0" style="border:0; margin-bottom:-5px;" allowfullscreen></iframe>

<!-- Footer section -->
<footer>
    <div class="center">
        <div class="social">
            <a><i class="fab fa-facebook-f"></i></a>
            <a><i class="fab fa-twitter"></i></a>
            <a><i class="fab fa-instagram"></i></a>
            <a><i class="fab fa-google-plus-g"></i></a>
        </div>
        <div class="copyright">
            <p>Copyright &copy; 2018. Company | All rights reserved.</p>
        </div>
    </div>
</footer>